@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #e0f7f9;
}
::-webkit-scrollbar-thumb {
  background-color: #007C91;
  border-radius: 6px;
}
::-webkit-scrollbar-button {
  display: none;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #007C91 #e0f7f9;
}

body {
  font-family: var(--font-lilita);
}
